@font-face {
    font-family: "Gotham";
    src: url(../fonts/Gotham.ttf)
}
@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato.ttf)
}
@font-face{
    font-family: "Fontello";
    src: url(../fonts/fontello.woff)
}
body{
    margin: 0px;
}
html{
    font-size: 10px;
}
.title{
   
}
.logo-img{
    padding-top: 10px;
    float: left;
    margin: 2% 5% 0% 5%;
}
.TitleItm{
    padding: 8px 14px;
    font-family: "Lato";
    float: left;
    margin: 4% 1% 2% 0%;
    font-size: 1.35rem;
    color: #6e6e6e;
    }  
.OrangeItm:hover{
    background-color: #ffbb42;
    color: white;
    border-radius: 3px;
}    
.MainTitle{
    overflow: hidden;
    width: 98%;
    margin:0% 2%; 
}    
.SecondTitle{
    padding: 5% 0% 0% 0%;
    text-align: center;
    background-color: #709dca;
    margin-bottom: 1%;
}
.SecondTitleText{
    margin-bottom: 3%;
}    
.TitleBoldText{
    width: 70%;
    font-family: "Gotham";
    font-size: 3.5rem;
    color: white;
}  
.titleText{
    color: white;
    font-family: "Lato";
    font-size: 1.6rem;
    margin-bottom: 4%;
} 
.label{
    width: 15%;
    height: 51px;
    border-radius:3px 0px 0px 3px;
    border: 2px solid white; 
    padding: 14.5px;
    font-family: "Fontello";
    font-size: 1.8rem;
    background-color:white;
    box-sizing: border-box;
    color: #6e6e6e;
    margin: 0;
    float: left;
}
.input{
    border: 2px solid white;
    border-radius:0px 3px 3px 0px;
    float: left;
    margin: 0px;
    height: 45px;
    width: 83%;
} 
.LoginForm{
    width: 100%;    
}
.username{
    margin: 0% 1% 0% 2.8%;
    font-size: 1.2rem;
    float: left;
    width: 25%;
}
.Email{
    margin: 0% 1% 0% 1%;
    font-size: 1.2rem;
    float: left;
    margin: 0px 10px 0px 5px;
    width: 25%;

}
.PhoneNumber{
    margin: 0% 1.5% 0% 0.5%;
    font-size: 1.2rem;
    float: left;
    width: 25%;
}
.SignIn{
    margin: 0% 2% 0% 1%;
    font-size: 1.4rem;
    color: white;
    padding: 15.5px 0px;
    margin: 0px ;
    float: left;
    width: 15%;
    background-color:#ffbb42;
    border: 2px solid #ffbb42;
    border-radius: 3px;
}
.laptop{
    width: 60%;
    height: 60vh;
    margin: 0 auto;
}
.laptopimg{
    position: relative;
    top: -2vh;
    width:100%
   
}
.servicesTitle{ 
    color: #6e6e6e;
    margin:15% 0% 4% 0%;
    text-align: center;
    font-family: "Lato";
    font-size: 1.6rem;
}
.ServicesMainTitle{
    font-family: "Gotham";
    font-size: 3.5rem;
}
.svgImg{
    stroke:#709dca;
    fill: #709dca;
}
.svgImgTwo{
    stroke-width: 15px;
    stroke:#709dca;
    fill: white;
}
.svgImgHat{
    stroke-width: 25px;
    stroke:#709dca;
    fill: white;
}
.svgImgDollar{
    stroke:#709dca;
    fill: white;
}
.svgImgTime{
    stroke-width: 15px;
    stroke:#ffbb42;
    fill: white;    
}
.ServicesText{ 
    width: 35%;
    float: left;
    margin-left: 1%;
    font-family: "Lato";
    font-size: 1.3rem;
    color: #6e6e6e;
}
.ServicesBoldText{
    font-family: "Gotham";
    font-size: 1.6rem;
    color: #6e6e6e;
}
.SvgImg{
    width: 5%;
    float: left;
    margin: 2% 1% 2% 4%;
}
.Itm{
    margin-left:5%;
}
.MainItm{
    overflow: hidden;
    margin-top:4%;
}
.services{
    margin-bottom: 5%;
}
.aboutUs{
    overflow: hidden;
}
.AboutUsImg{
    float: left;
    width: 50%;
    height: 71vh;
    background-size: cover;
    background-image: url('../img/AboutUs.png')
}
.AboutUsTitle{
    box-sizing: border-box;
    padding: 5% 3% 6% 3%;
    color: white;
    float: left;
    width: 50%;
    height: 71vh;
    background-color: #ffbb42;
    font-family: "Lato";
    font-size: 1.3rem;
}
.AboutUsMainTitle{
    font-family: "Gotham";
    font-size: 3rem;
}
.AboutUsMore{
    margin-top: 6%;
}
.AboutUsButton{
    padding: 2.5%;
    color: white;
    border: 2px solid #e7ad48 ;
    background-color: #ffbb42;
    font-family: "Lato";
    font-size: 1.4rem;
}
.Price{
    background-color: #e7edf3;
    overflow: hidden;
    padding-bottom: 10px;
}
.PriceTitle{
    width: 60%;
    margin: 0% 20% 0% 20%;
    color: #6e6e6e;
    text-align: center;
    font-family: "Lato";
    font-size: 1.8rem;
    
}
.PriceMainTitle{
    margin-bottom: 0px;
    font-family: "Gotham";
    font-size: 3rem;
}
.PriceItm{
    border-radius: 3px;
    margin: 5% 0% ;
    border: 1px solid #cad7e4; 
    text-align: center;
    box-sizing: border-box;
    background-color: white;
    width: 25%;
    height: 380px;
    float: left;
}
.PriceItmHover:hover{
    border-radius: 3px;
    margin-top: 35px;
    text-align: center;
    box-sizing: border-box;
    background-color: #709dca;
    width: 25%;
    height: 410px;
    float: left;
}
.PriceItmFirst{
    margin-left: 12.5%;
}
.PriceItmHover:hover .PriceItmMainTitle{
    color: white;
    font-family: "Gotham";
    font-size: 2.5rem;
}
.PriceItmMainTitle{
    color: #6e6e6e;
    font-family: "Gotham";
    font-size: 2.5rem;  
}
.PriceItmHover:hover .ItmPrice{
    color: white;
    font-family: "Gotham";
    font-size: 1.8rem;
    padding-bottom: 15px;  
}
.ItmPrice{
    color: #6e6e6e;
    font-family: "Gotham";
    font-size: 1.8rem;
    padding-bottom: 15px;
}
.PriceItmHover:hover .ItmDollar{
    color: white;
    color: #ffbb42;
    text-align: right;
    font-family: "Lato";
    font-size: 3rem;
    width: 40%;
    margin:0px;
    float: left;
}
.ItmDollar{
    color: #6e6e6e;
    color: #ffbb42;
    text-align: right;
    font-family: "Lato";
    font-size: 3rem;
    width: 40%;
    margin:0px;
    float: left;
}
.ItmPriceCost{
    color: #ffbb42;
    text-align: left;
    width: 60%;
    float: left;
    font-family: "Lato";
    font-size: 6rem;
}
.PriceItmHover:hover .PriceItmTitle{
    color: white;
    border-top: 1px solid  white;
}
.PriceItmTitle{
    width: 80%;
    margin: 10px auto;
    border-top: 1px solid  #969696;
    padding-top: 10px;
    color: #6e6e6e;
    font-family: "Lato";
    font-size:1.35rem;
}
.PriceItmHover:hover .PriceItmFooter{
    margin-top: 40px;
}
.PriceItmFooter{
    margin-top: 25px;
}
.PriceButton{
    color: white;
    border: 1px solid #ffbb42 ;
    border-radius: 2px;
    background-color: #ffbb42;
    font-family: "Lato";
    font-size: 1.4rem;
    padding: 10px;
}
.HowItWorks{
    overflow: hidden;
    padding: 80px 0px;
}
.HowItWorksTitle{
    color: #6e6e6e;
    text-align: center;
    font-family: "Lato";
    font-size: 1.8rem;
    
}
.HowItWorksMainTitle{
    margin-bottom: 0px;
    font-family: "Gotham";
    font-size: 3rem;
}
.HWT-Svg{
    
    fill: #709dca;
    stroke: #709dca;
}
.HowItWorksSvg{
    width: 50%;
    margin: 0 auto;
}
.StepTitle{
    margin:8% 5% 6% 5%;    
    width: 12.5%;
    float: left;
    font-family: "Lato";
    font-size: 1.3rem;
}
.StepTitlteOne{
    margin:8% 5% 6% 10%;
}
.HWTBoldText{
    text-align: center;
    font-family: "Lato";
    font-size: 2.5rem;
}
.HowItWorksForm{
    width: 15%;
    margin: 1% 42.5%;
}
.HowItWorksBtn{
    color: white;
    border: 1px solid #ffbb42 ;
    border-radius: 2px;
    background-color: #ffbb42;
    font-family: "Lato";
    font-size: 1.4rem;
    padding: 10px;
    
}
.HappyClients{
    overflow: hidden;
    padding: 80px 0px;
    background-color: #ffbb42;
}
.HCMainTitle{
    text-align: center;
    font-family: "Gotham";
    font-size: 3rem;
    color:white;
}
.HCTitle{
    margin-top: 0px;
    font-family: "Lato";
    font-size: 1.3rem;
}
.BcgImg{
    margin: 25px 0px 0px 10px;
    width:30%;
    float: left;
    width: 90px;
    height:90px;
    border-radius: 50%;
    background-size: cover;  
}
.BIFirst{
    background-image: url("../img/faceone.png");
}
.BISecond{
    background-image: url("../img/facetwo.png");
}
.BIThird{
    background-image: url("../img/facethree.png");
}
.BIFours{
    background-image: url("../img/facefour.png");
}
.ClientsTestimonials{
    padding: 25px 10px 25px 10px;
    text-align: left;
    width: 70%;
    float: left;
    color: #6e6e6e;
    font-family: "Lato";
    font-size: 1.3rem;
}
.HCClientAbout{
    margin: 5% 0% 5% 0%;
    overflow: hidden;
    background-color: white;
    width: 100%;
    border-radius: 5px;
    
}
.HCAboutOne{
    margin: 0% 1% 0% 9%;
    width: 40%;
    float: left;
}
.HCAboutTwo{
    margin: 0% 9% 0% 1%;
    width: 40%;
    float: left;
}
.OrangeText{
    color: #e7ad48;
    font-family: "Lato";
    font-size: 1.4rem;
}
.NewsMainTitle{
    margin-top: 8%;
    text-align: center;
    font-family: "Gotham";
    font-size: 3rem;
    color:#6e6e6e;
}
.NewsTitle{
    margin-top: 0%;
    margin-bottom: 3%;
    font-family: "Lato";
    font-size: 1.3rem;
}
.News-label{
    width: 15%;
    border-radius:3px 0px 0px 3px;
    border-top: 2px solid #c9c9c9;
    border-left: 2px solid #c9c9c9;
    border-bottom: 2px solid #c9c9c9;
    border-right: none; 
    padding: 14.5px;
    font-family: "Fontello";
    font-size: 1.8rem;
    background-color:white;
    box-sizing: border-box;
    color: #6e6e6e;
    margin: 0;
    float: left;
}
.News-input{
    width: 80%;
    border-top: 2px solid #c9c9c9;
    border-right: 2px solid #c9c9c9;
    border-bottom: 2px solid #c9c9c9;
    border-left: none; 
    border-radius:0px 3px 3px 0px;
    float: left;
    margin: 0px;
    height: 45px;
    
}
.Subscribe{
    font-size: 1.4rem;
    color: white;
    padding: 15.5px 0px;
    margin: 0px ;
    float: left;
    width: 100%;
    background-color:#ffbb42;
    border: 2px solid #ffbb42;
    border-radius: 3px;
    
}
.NewsButton{
    overflow: hidden;
    width: 20%;
    margin: 1% 10% 1% 0%;
}
.NewsUsername{
    width: 25%;
    float: left;
    margin: 1% 0% 1% 10%;
}
.NewsEmail{
    width: 30%;
    margin: 1% 2.5%;
    float: left;
}
.NewsLoginForm{
    overflow: hidden;
    width: 100%;
}
.MapBg{
    padding-bottom: 10%;
    margin-top: 3%;
    width: 100%;
    background-image: url(../img/Map.png);
    background-size:cover;
}
.MapCircleBg{
    background-size: cover;
    margin: 5% auto;
    width: 337.5px;
    height: 352.5px;
    background-image: url(../img/circle.png); 
}
.footerlogo-img{
    width: 5%;
    margin:0% 47.5%;
}
.AdressTittle{
    padding-top:15%; 
    margin: 0 auto;
    text-align: center;
    width: 80%;
    font-family: "Lato";
    font-size: 1.6rem;
    color: #969696;
}
.AdressBoldTExt{
    font-family: "Gotham";
    font-size: 1.7rem;
    color: white;
}
.AdressOrangeText{
    color: #ffbb42;
}
.footerMenu{
    overflow: hidden;
    text-align: center;
    width: 78%;
    margin: 5% 0% 5% 22% ;
}
.TitleMenu{

    font-family: "Lato";
    float: left;
    margin: 2% 2% 2% 0%;
    font-size: 1.35rem;
    color: #394b50;
}
.TitleMenuFirst{
    margin-left: 1%;
}
.PhoneNumberTwo{ 
    width: 22%;
    margin: 0.5% 39%;  
    text-align: center;
    font-family: "Lato";
    font-size: 3rem;
    color: #394b50;
}
.phoneLogo{
    padding-top: 2.5%;
    float: left;
    font-family: "fontello";
    font-size: 2.8rem;
}
.FooterLogos{
    width: 90%;
    margin: 1% auto;
}
.LogoOrange{
    fill: #ffbb42;
    stroke: #ffbb42;
}
.LogoBlue{
    fill: #709dca;
    stroke: #709dca;
}
.footerLogo{
    width: 5%;
    margin: 1% 0.25 ;
    float: left;
}
.footerLogoOne{
    margin-left: 39%;
}
.Copyraite{
    margin-top: 5%;
    width: 100%;
    font-family: "Lato";
    font-size: 1.3rem; 
    background-color: #709dca;
    position: relative ;
    top: 10vh;
    color: white;
    box-sizing: border-box;
}
.footerText{
    white-space: pre;
    width: 80%;
    text-align: center;
}
@media (max-width: 1200px){
    .container{
            width: 90%;
            margin-left: 5%;
    }
    .footerlogo-img{
        width: 5%;
        margin:0% 47.5%;
    }
@media (max-width: 1090px){
    .TitleItm{
        padding: 6px 10px;
        font-family: "Lato";
        float: left;
        margin: 4% 0.5% 2% 0%;
        font-size: 1.35rem;
        color: #6e6e6e;
        }  
    .logo-img{
        padding-top: 10px;
        float: left;
        margin: 2% 3% 0% 0%;
        }
    .button{
        width: 26%;
        margin: 0 auto;
        padding-top: 8%;
    }        
    .SignIn{
        font-size: 1.4rem;
        color: white;
        padding: 15.5px 0px;
        margin: 0px ;
        width: 100%;
        background-color:#ffbb42;
        border: 2px solid #ffbb42;
        border-radius: 3px;
    }
    .username{
        margin: 0% 1% 0% 2.8%;
        font-size: 1.2rem;
        float: left;
        width: 30%;
    }
    .Email{
        margin: 0% 1% 0% 1%;
        font-size: 1.2rem;
        float: left;
        margin: 0px 10px 0px 5px;
        width: 30%;
    
    }
    .PhoneNumber{
        margin: 0% 1.5% 0% 0.5%;
        font-size: 1.2rem;
        float: left;
        width: 30%;
    }
    .PriceItm{
        border-radius: 5px;
        margin: 5% 30% ;
        width: 40%;
        height: 380px;
        box-sizing: border-box;
    }
    .PriceItmHover:hover{
        border-radius: 3px;
        margin-top: 35px;
        text-align: center;
        box-sizing: border-box;
        width: 40%;
        height: 410px;
    }
    .HowItWorksForm{
        width: 20%;
        margin: 1% 39 1% 41%;
    }    
    .HCAboutOne{
        margin: 0% 10% 0% 10%;
        width: 80%;
    }
    .HCAboutTwo{
        margin: 0% 10% 0% 10%;
        width: 80%;
    } 
    .PhoneNumberTwo{ 
        width: 26%;
        margin: 0.5% 35%;  
        text-align: center;
        font-family: "Lato";
        font-size: 2.5rem;
        color: #394b50;
    }
    .footerlogo-img{
        width: 5%;
        margin:0% 47.5%;
    }    
}    
@media(max-width:900px){
    .TitleItm{
        width: 80%;
        padding: 6px 10px;
        font-family: "Lato";
        float: left;
        margin: 4% 10% 2% 10%;
        font-size: 2.3rem;
        color: #6e6e6e;
    }
    .logoHead{
        width: 80%;
        margin-left: 11%;
    } 
    .username{
        margin: 2% 15% 2% 15%;
        font-size: 1.6rem;
        width: 70%;
    }
    .Email{
        margin: 0% 15% 0% 15%;
        font-size: 1.6rem;
        width: 70%;
    }
    .PhoneNumber{
        margin: 2% 15% 2% 15%;
        font-size: 1.6rem;
        width: 70%;
    } 
    html{
        font-size: 9px;
    }  
    .laptopimg{
        position: relative;
        top: -5vh;
        width:100%  
    }
    .ServicesText{ 
        width: 60%;
        float: left;
        margin-left: 1%;
        font-family: "Lato";
        font-size: 1.6rem;
        color: #6e6e6e;
    }
    .ServicesBoldText{
        font-family: "Gotham";
        font-size: 1.9rem;
        color: #6e6e6e;
    }
    .SvgImg{
        width: 10%;
        float: left;
        margin: 5% 5% 0% 15%;
    }
    .MainItm{
        overflow: hidden;
        margin-top:1%;
    }
    .AboutUsTitle{
        width: 100%;
        height: 55vh;
        box-sizing: border-box;
        font-family: "Lato";
        font-size: 1.6rem;
    }
    .AboutUsImg{
        width: 100%;
        height: 55vh;
        background-size: cover;
        background-image: url('../img/AboutUs.png')
    }
    .PriceItm{
        border-radius: 5px;
        margin: 5% 20% ;
        width: 60%;
        height: 380px;
        box-sizing: border-box;
    }
    .PriceItmHover:hover{
        border-radius: 3px;
        margin-top: 35px;
        text-align: center;
        box-sizing: border-box;
        width: 60%;
        height: 410px;
    }
    .StepTitle{
        margin:8% 5% 6% 5%;    
        width: 40%;
        font-size: 1.6rem;
    }
    .HowItWorksSvg{
        width: 20%;
        margin: 0 auto;
    }
    .HowItWorksForm{
        width: 40%;
        margin: 1% 30%;
    }
    .PriceTitle{
        font-size: 1.6rem;  
    }
    .PriceMainTitle{
        margin-bottom: 0px;
        font-family: "Gotham";
        font-size: 2.8rem;
    }
    .HowItWorksTitle{
        font-size: 1.6rem;
    }
    .HowItWorksMainTitle{
        font-size: 2.8rem;
    }
    .HCAboutOne{
        margin: 0% 7.5% 0% 7.5%;
        width: 85%;
    }
    .HCAboutTwo{
        margin: 0% 7.5% 0% 7.5%;
        width: 85%;
    } 
    .NewsMainTitle{
        font-size: 2.8rem;  
    }
    .NewsTitle{
        font-size: 1.6rem;
    }
    .Subscribe{
        font-size: 1.4rem;
        color: white;
        padding: 15.5px 0px;
        margin: 0px ;
        float: left;
        width: 100%;
        background-color:#ffbb42;
        border: 2px solid #ffbb42;
        border-radius: 3px;
        
    }
    .NewsButton{
        overflow: hidden;
        width: 30%;
        margin: 1% 35%;
    }
    .NewsUsername{
        width: 70%;
        margin: 1% 15%;
    }
    .NewsEmail{
        width: 70%;
        margin: 1% 15% ;
    }
    .News-label{
        padding: 15.5px;
    }
    .MapBg{
        margin-top: 3%;
        padding-bottom: 10%;
        width: 100%;
        background-image: url(../img/Map.png);
        box-sizing: border-box;
    }
    .AdressTittle{
        position: relative;
        right: 0%;
        padding-top:15%; 
        margin: 0 auto;
        text-align: center;
        width: 80%;
        font-family: "Lato";
        font-size: 1.6rem;
        color: #969696;
    }
    .AdressBoldTExt{
        font-family: "Gotham";
        font-size: 1.7rem;
        color: white;
    }  
    .TitleMenu{
        font-family: "Lato";
        width: 70%;
        margin: 1rem auto;
        font-size: 2.3rem;
        color: #394b50;
    }  
    .PhoneNumberTwo{ 
        width: 30%;
        margin: 0.5% 35%;  
        text-align: center;
        font-family: "Lato";
        font-size: 2.3rem;
        color: #394b50;
    }
    .phoneLogo{
        font-size: 2.3rem;
    }
    .TitleBoldText{
        width: 70%;
        font-family: "Gotham";
        font-size: 3.0rem;
        color: white;
    }  
    .titleText{
        color: white;
        font-family: "Lato";
        font-size: 1.4rem;
        margin-bottom: 4%;
    }
    .SignIn{
        font-size: 1.5rem;
    }
    .laptop{
        width: 60%;

        margin: 0 auto;
    } 
    .footerlogo-img{
        width: 8%;
        margin:0% 46%;
    } 
}
@media(max-width:540px){
    html{
        font-size: 8px;
    }
    .TitleBoldText{
        width: 70%;
        font-family: "Gotham";
        font-size: 2.5rem;
        color: white;
    }  
    .titleText{
        color: white;
        font-family: "Lato";
        font-size: 1.3rem;
        margin-bottom: 4%;
    }
    .button{
        width: 50%;
        margin: 0 auto;
        padding: 8% 0%;
    } 
    .laptopimg{
        position: relative;
        top: -3vh;
    }
    .laptop{
        height: 45vh;
    }
    .username{
        margin: 2% 5% 2% 5%;
        font-size: 1.6rem;
        width: 90%;
    }
    .Email{
        margin: 2% 5% 2% 5%;
        font-size: 1.6rem;
        width: 90%;
    }
    .PhoneNumber{
        margin: 2% 5% 2% 5%;
        font-size: 1.6rem;
        width: 90%;
    }
    .ServicesText{ 
        text-align: center;
        width: 90%;
        margin-left: 1%;
        font-family: "Lato";
        font-size: 1.6rem;
        color: #6e6e6e;
    }
    .ServicesBoldText{
        text-align: center;
        font-family: "Gotham";
        font-size: 1.9rem;
        color: #6e6e6e;
    }
    .SvgImg{
        width: 10%;
        margin: 1% 45% 1% 35%;
    } 
    .PriceItm{
        border-radius: 5px;
        margin: 5% 10% ;
        width: 80%;
        height: 320px;
        box-sizing: border-box;
    }
    .PriceItmHover:hover{
        border-radius: 3px;
        margin-top: 35px;
        text-align: center;
        box-sizing: border-box;
        width: 80%;
        height: 350px;
    }
    .StepTitle{
        margin:8% 5% 6% 15%;    
        width: 70%;
        font-size: 1.6rem;
    }.BcgImg{
        margin: 2% 35% 0%; 
        width:30%;
        width: 90px;
        height:90px;  
    }
    .ClientsTestimonials{
        margin: 0% 15% 0% 9%;
        text-align: center;
        width: 70%;
        font-size: 1.3rem;
    }
    .MapBg{
        margin-top: 3%;
        padding-bottom: 10%;
        width: 100%;
        background-image: url(../img/Map.png);
        background-size:cover;
        box-sizing: border-box;
    }
    .News-label{
        padding: 16.5px;
    }
    .NewsButton{
        overflow: hidden;
        width: 67%;
        margin: 1% 15% 1% 15%;
    }
    .footerText{
        white-space: pre-wrap;
        width: 40%;
        text-align: center;
        margin: 0 auto;
    }
    .Copyraite{
        margin-top: 5%;
        width: 100%;
        font-family: "Lato";
        font-size: 1.3rem; 
        background-color: #709dca;
        position: relative ;
        color: white;
        box-sizing: border-box;
    }
    .MapCircleBg{
        background-size: cover;
        margin: 5% auto;
        width: 270px;
        height: 282px;
        background-image: url(../img/circle.png); 
    }
    .footerlogo-img{
        width: 8%;
        margin:0% 46%;
    } 
}   